@import "../../app.variables.scss";

.clickable-project:hover {
  border: $primary solid $indicator-width;
  cursor: pointer;
}

.clickable-project:not(:hover) {
  border: $darker solid $indicator-width;
}