@if (loading || !project) {
  <app-spinner></app-spinner>
} @else {
  <div class="row w-100">
    <div class="col-auto">
      <app-table-of-contents
        [content]="project.content">
      </app-table-of-contents>
    </div>
    <div class="col">
      <app-article id="top">
        <div>
          <p class="display-5 mb-0">
            {{project.title}}
            <button
              class="btn btn-primary me-2"
              *ngIf="authenticated"
              (click)="edit()">
              Edit
            </button>
            <button
              class="btn btn-danger text-white"
              *ngIf="authenticated"
              (click)="deleteProject()">
              Delete
            </button>
          </p>
          <hr class="mt-0" />
          <p [innerHTML]="project.description"></p>
          <br />
          <app-github-card
            *ngIf="project.gitLink"
            [link]="project.gitLink"></app-github-card>
        </div>
        <div
          *ngFor="let dynamicComponent of project.content">
          <ng-container 
            *ngComponentOutlet="dynamicComponent.componentType; inputs: dynamicComponent.inputs">
          </ng-container>
        </div>
      </app-article>
    </div>
  </div>
}

