<h3>Content</h3>
<div
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  style="max-height: 100vh; overflow-y: scroll;"
  class="px-5 py-1 bg-darker">
  @for (entry of content; track entry; let index = $index) {
    <div class="row rounded bg-dark text-white p-3 px-1 mb-3" cdkDrag>
      <div class="col-auto text-primary">
        <div cdkDragHandle>
          <mat-icon>drag_indicator</mat-icon>
        </div>
        <div (click)="remove(index)">
          <mat-icon>close</mat-icon>
        </div>
      </div>
      <div class="col">
        <div class="form-group mb-2">
          <mat-select
            class="form-control bg-white border-0 text-black"
            id="type{{index}}"
            (selectionChange)="change_selection(index, $event.value)"
            [value]="index_of_component(content[index].componentType)">
            @for (type of dynamicComponents; track type.componentType; let type_index = $index) {
              <mat-option [value]="type_index">{{type.componentType}}</mat-option>
            }
          </mat-select>
        </div>
        @for (input of content[index].inputs | keyvalue; track input.key) {
          <div *ngIf="get_input_types(entry.componentType)[input.key] as inputType" class="form-group mb-2">
            <label for="{{input.key}}{{index}}" class="form-label">
              {{input.key | titlecase}}
            </label>
            @if (inputType === "textarea") {
              <textarea
                name="{{input.key}}{{index}}"
                id="{{input.key}}{{index}}"
                cols="30" rows="10"
                class="form-control bg-white border-0 text-black"
                [ngModel]="content[index].inputs[input.key]"
                (ngModelChange)="set_input_value(index, input.key, $event)">
              </textarea>
            } @else if (inputType === "multi-input") {
              <app-multi-input
                id="{{input.key}}{{index}}"
                [value]="$any(content[index].inputs[input.key])"
                (valueChange)="set_input_value(index, input.key, $event)"
                ></app-multi-input>
            } @else if (inputType === "checkbox") {
              <input
                class="form-check-input"
                type="checkbox"
                name="{{input.key}}{{index}}"
                id="{{input.key}}{{index}}"
                [ngModel]="content[index].inputs[input.key]"
                (ngModelChange)="set_input_value(index, input.key, $event)">
            } @else {
              <input
                class="form-control bg-white border-0 text-black"
                type="text"
                name="{{input.key}}{{index}}"
                id="{{input.key}}{{index}}"
                [ngModel]="content[index].inputs[input.key]"
                (ngModelChange)="set_input_value(index, input.key, $event)">
            }
          </div>
          @if (entry.children !== undefined) {
            <app-content-input
              [content]="entry.children"
              (contentChange)="set_children(index, $event)"></app-content-input>
          }
        }
      </div>
    </div>
  }
</div>
<button class="btn btn-primary mt-3" (click)="add_entry()">
  Add
</button>