<div
  class="form-group mb-2">
  <label class="form-label" for="title">
    {{ id | titlecase}}
  </label>
  <div>
    <input
      class="form-control bg-darker border-0 text-white d-inline-block"
      style="width: 30em"
      [id]="id"
      type="text"
      [name]="id"
      [matAutocomplete]="auto"
      [(ngModel)]="input_value">
    <button
      class="btn btn-primary d-inline-block"
      (click)="add_value()">
      Add
    </button>
  </div>
  <mat-autocomplete
    #auto="matAutocomplete">
    @for (option of options; track option) {
      <mat-option [value]="option">{{display(option)}}</mat-option>
    }
  </mat-autocomplete>
  <div class="mt-1">
    @for (input of value; track input; let index = $index) {
      <span class="bg-primary rounded p-1 me-1">
        {{display(input)}}
        <button class="btn p-0" (click)="remove_value(index)">
          <mat-icon>close</mat-icon>
        </button>
      </span>
    }
  </div>
</div>