<div class="form-group mb-2">
  <label [for]="id" class="form-label d-block">{{id | titlecase}}</label>
  <div style="height: 36px;">
    <input
      class="form-control bg-darker border-0 text-white d-inline-block"
      [id]="id"
      style="width: 15em; vertical-align: top;"
      [name]="id"
      [matDatepicker]="picker"
      [(ngModel)]="date">
    <mat-datepicker-toggle
      matIconSuffix
      style="top: -6px; position: relative;"
      [for]="picker"></mat-datepicker-toggle>
  </div>
  <mat-datepicker #picker></mat-datepicker>
</div>