<app-article>
  <h1>Project Form</h1>
  <form>
    <div class="form-group mb-2">
      <label class="form-label" for="title">
        Title
      </label>
      <input
        class="form-control bg-darker border-0 text-white"
        id="title"
        type="text"
        style="width: 15em"
        name="title"
        [(ngModel)]="raw_project.title">
    </div>
    <div class="form-group mb-2">
      <label for="description" class="form-label">Description</label>
      <textarea 
        class="form-control bg-darker border-0 text-white"
        name="description"
        id="description"
        cols="30" rows="10"
        [(ngModel)]="raw_project.description"></textarea>
    </div>
    <app-multi-input
      id="languages"
      [options]="languages_list"
      [display]="display_language"
      [(value)]="raw_project.languages"></app-multi-input>
    <div class="row">
      <div class="col-auto">
        <app-timestamp-input
          id="created"
          [(value)]="raw_project.created"></app-timestamp-input>
      </div>
      <div class="col-auto">
        <app-timestamp-input
          id="modified"
          [(value)]="raw_project.modified"></app-timestamp-input>
      </div>
    </div>
    <app-multi-input
      id="thumbnails"
      [(value)]="raw_project.thumbnails"
      [customValidator]="thumbnail_validator"
      help="Value should start with 'assets/thumbnails/'.">
      </app-multi-input>
    <app-multi-input
      id="tags"
      [(value)]="raw_project.tags"></app-multi-input>
    <div class="form-check">
      <label class="form-label" for="school">
        University?
      </label>
      <input
        type="checkbox"
        class="form-check-input"
        id="school"
        name="school"
        [(ngModel)]="raw_project.school">
    </div>
    <div class="form-check">
      <label class="form-label" for="favorite">
        Favorite?
      </label>
      <input
        type="checkbox"
        class="form-check-input"
        id="favorite"
        name="favorite"
        [(ngModel)]="raw_project.favorite">
    </div>
  </form>
</app-article>
<hr>
<app-article>
  <app-project-search-result [project]="project"></app-project-search-result>
</app-article>
<hr>
<app-project-detail [project]="project"></app-project-detail>
