@import "../../styles.scss";

$indicator-width: 3px;

#sidenav-container {
  position: fixed;
  top: 0;
  left: 0;
}

.active {
  border-left: $indicator-width solid $primary;
  color: $primary;
}

a:not(active) {
  border-left: $indicator-width solid transparent;
  color: $light;
}