@import "../app.variables.scss";


#sidenav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidenav-width;
}

.active {
  border-left: $indicator-width solid $primary;
}

a:not(active) {
  border-left: $indicator-width solid transparent;
}