<mat-sidenav
  id="sidenav-container"
  mode="side"
  opened
  class="bg-darker border-0">
  <div *ngFor="let item of sidenavItems" class="d-flex">
    <a
      mat-flat-button
      class="p-3"
      [routerLink]="item.route"
      routerLinkActive="active"
      [matTooltip]="item.tooltip"
      matTooltipPosition="right">
      <mat-icon
        inline="true"
        [svgIcon]="item.icon.svgIcon"
        [fontIcon]="item.icon.fontIcon"
        style="vertical-align: top; font-size: 2em;">
      </mat-icon>
    </a>
  </div>
</mat-sidenav>