/*

OneDark-Pro-Darker theme taken from the vivid section of: https://camo.githubusercontent.com/e036408cfd7cc9b65adb5faa2181d34d94051e6231c0601fb6bf0a7b160bb984/68747470733a2f2f63646e2e6a7364656c6976722e6e65742f67682f62696e6172796966792f6f6e656461726b2d70726f2f73637265656e73686f74732f636f6c6f722e706e67

*/

.hljs {
  color: #d19a66;
}

.hljs-ln-numbers {
  color: #abb2bf;
}

.hljs-number,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
  color: rgb(209, 154, 102);
}

.hljs-subst {
  /* default */
}

.hljs-string {
  color: rgb(239, 89, 111);
}

.hljs-ln-line :nth-child(2).hljs-string {
  color: rgb(137, 202, 120);
}
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #d88;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #abb2bf;
}

.hljs-ln-n {
  padding-right: 1em;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}
