
<div
  id="home-content"
  class="vh-100 d-flex align-items-center justify-content-center">
  <div
    class="row w-75"
    style="align-content: center;">
    <div 
      class="col position-relative mx-auto mb-3 my-md-auto"
      style="max-width: 40vw;">
      <img
        class="ph-auto rounded-circle border border-5 border-darker start-50 w-100"
        src="../../assets/me.webp"/>
    </div>
    <div
      class="col-md-7 p-3 rounded bg-darker my-auto">
      <p class="display-4 py-0 my-0">Aaron Barge</p>
      <p class="display-6 py-0 mt-0 text-primary">Software Developer</p>
      <div class="row mx-0">
        <div class="col-auto px-0 ms-auto mt-auto">
          <a
            *ngFor="let icon of icons; index as i"
            [href]="icon.link"
            class="text-white h3"
            [ngClass]="{'ps-2': i !== 0}">
            <fa-icon
              [icon]="icon.name"
              [matTooltip]="icon.tooltip"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>