
<div id="home-content" class="position-relative">
  <div
    class="row position-absolute top-50 start-50 translate-middle w-75">
    <div class="col-lg position-relative mb-3 my-lg-auto">
      <img
        class="ph-auto rounded-circle border border-5 border-darker start-50"
        src="../../assets/me.webp"
        width="70%" />
    </div>
    <div
      id="contact-content"
      class="col p-3 rounded bg-darker my-auto">
      <h1 class="py-0 my-0">Hello,</h1>
      <p class="display-3 py-0 my-0">I'm Aaron Barge</p>
      <p class="display-6 py-0 mt-0 text-primary">Software Developer</p>
      <div class="row mx-0">
        <div class="col-auto px-0 ms-auto mt-auto">
          <a
            *ngFor="let icon of icons; index as i"
            [href]="icon.link"
            class="text-white h3"
            [ngClass]="{'ps-2': i !== 0}">
            <fa-icon
              [icon]="icon.name"
              [matTooltip]="icon.tooltip"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>